
        nav a{ 
            margin-left: 10px;
            margin-right: 10px;
            height: 20px;
            color: black;
            height: auto;
            font-family: 'Lobster', cursive;
            z-index: 3;
        }
          .carousel slide {
            z-index: 2;

       }
         
        
        nav {
            font-size: 25px;
            text-decoration: none;
            
        }

        

        .socialLinks{
            font-size: 25px;
        }
        .foot{
            font-size: 15px;
            background-color: green;
            color: white;
            font-family: 'Edu VIC WA NT Beginner', cursive;
        }
        